<% provide(:title, "About") %>
<h1>ABOUT SEUBSWORLD</h1>

<div class="jb-paragraph"><p>SeubsWorld is a portfolio website showcasing some of the work I did in film school, as well as current and future projects, both film and tech related. It was built by me using the Ruby On Rails web framework and incoperates a PostgreSQL data store, as well as HTML5, JavaScript, CSS, BootStrap, and of course the Ruby programming language. The site is hosted on a Heroku instance and uses an Amazon Web Services S3 Bucket to serve static assets. It is a continued work in progress, so if you have any comments or suggestions regarding the site feel free to write me directly from the <a href="http://www.seubsworld.com/contact">contact </a>page. </p></div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>