<% provide(:title, "Aim Mockup") %>
<h1>A.I.M:</h1>
<h1>ASSET INVENTORY MANAGEMENT</h1>

  
  <div class="jb-paragraph"><p>This is a mockup for a web application I was developing when I worked in the IT department at The Jewish Home For The Aged in San Francisco. I started building the app with the Ruby On Rails web framework, but my contract ended before I was able to implement it. The purpose of the app was to keep track of the equipment that we deployed to the employees of the home, including Desktop PCs, Laptops, Desk Phones, Cell Phones, and Mobile Dummy Terminals. When I first started working at the Jewish Home equipment was disappearing left and right because the department did not have any method of keeping track of their assets, so I first created a Microsoft Excel spread sheet to keep track of the equipment and then began to design the app based on the spreadsheet.</p></div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<center>
<embed src="https://s3.amazonaws.com/seubsworld-assets/assets/aim_home.pdf" width="1000px" height="2100px">
</center>