<% provide(:title, "Contact") %>
<h1 class="top-title">CONTACT INFO</h1>
<h1>Jonathan C. Seubert</h1>
<h1>Bay Point, California</h1>
<h1><a href="mailto:finisher1017@gmail.com">finisher1017@gmail.com</a></h1>