<% provide(:title, "Home") %>
<h1>HOME</h1>

 <div class="well">
  <a href="http://www.seubsworld.com/john-brown" target="_top">
    
      <center>
      <%= image_tag "https://s3.amazonaws.com/seubsworld-assets/assets/main_middle.jpg" %>
      <p>John Brown - Biopic Screenplay</p>
      </center>

  </a>

</div>

<div class="well">
  <a href="http://www.seubsworld.com/omega-man" target="_top">
    
      <center>
      <%= image_tag "https://s3.amazonaws.com/seubsworld-assets/assets/omega-man.jpg" %>
      <p>The Omega Man - A Sound Experience</p>
      </center>

  </a>

</div>


