<% provide(:title, "Lighting Test") %>
<h1>LIGHTING TEST</h1>
<div class="jb-paragraph"><p>This is a lighting test that I did for a Post Production class I took in film school. The idea is to film the same subject at the same angle with both 16mm film and digital video. The subject is filmed at various f-stops with both cameras for the purpose of seeing how the exposure of the subject changes under different conditions</p></div>
<br>
<br>
<br>
<br>
<br>
<center>
<video controls style="width: 720px;">
   <source src="https://s3.amazonaws.com/seubsworld-assets/assets/final.mp4">
</video>
</center>